name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  ci:
    name: ci
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
            submodules: recursive
      - name: Install LF toolchain
        uses: erlingrj/lf-toolchain@nightly
        
      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install curl lsb-release gnupg
          sudo curl https://packages.osrfoundation.org/gazebo.gpg --output /usr/share/keyrings/pkgs-osrf-archive-keyring.gpg
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/pkgs-osrf-archive-keyring.gpg] http://packages.osrfoundation.org/gazebo/ubuntu-stable $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/gazebo-stable.list > /dev/null
          sudo apt-get update
          sudo apt-get install gz-harmonic
          sudo apt-get install libeigen3-dev
      - name: Build examples
        run: |
          lingo build

